<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add student</title>
</head>
<body>
    <form action="/students/a/new" method="post">
        <label for="surname">Прізвище</label>
        <input type="text" id="surname" name="surname" required><br>
        <label for="name">Ім'я</label>
        <input type="text" id="name" name="name" required><br>
        <label for="pname">По батькові</label>
        <input type="text" id="pname" name="pname" required><br>
        <label for="birthday">День народження</label>
        <input type="date" id="birthday" name="birthday" required><br>
        <label for="gender">Стать</label>
        <select name="gender" id="gender" required>
            <option value="true" selected>Чоловік</option>
            <option value="false">Жінка</option>
        </select><br>
        <label for="rank">Оцінка</label>
        <input type="number" min="120" max="200" id="rank" name="rank" required step="0.1"><br>
        <input type="submit" value="Зберегти">
    </form>
</body>
</html>